@font-face {
  font-family: "iconfont"; /* Project id 4442142 */
  src: url('iconfont.woff2?t=1708657367353') format('woff2'),
       url('iconfont.woff?t=1708657367353') format('woff'),
       url('iconfont.ttf?t=1708657367353') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e6bb";
}

.icon-app:before {
  content: "\e63b";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-add:before {
  content: "\e651";
}

.icon-ic_phone_iphone:before {
  content: "\e9ef";
}

.icon-reduce:before {
  content: "\e608";
}

.icon-content:before {
  content: "\e685";
}

.icon-tiku:before {
  content: "\e69b";
}

.icon-up:before {
  content: "\e945";
}

.icon-pre:before {
  content: "\e600";
}

.icon-next:before {
  content: "\e601";
}

.icon-down:before {
  content: "\e605";
}

.icon-more:before {
  content: "\e700";
}

.icon-close:before {
  content: "\e617";
}

.icon-password:before {
  content: "\e65d";
}

.icon-download:before {
  content: "\e66c";
}

.icon-upload:before {
  content: "\e682";
}

.icon-users:before {
  content: "\e69c";
}

.icon-settings:before {
  content: "\e840";
}

